.content{
	width: 900px;
	margin: auto;
	padding: 20px;
	border-radius: 12px 12px 10px 10px;
	border: brown 1px solid;
	height:300px;
}

.menu{
float: left;
width: 300px;
margin:0 30px;
}
.detail{
float: right;
width: 500px;
margin:0 30px;
}
.clear{
clear:both;
}
.table1
{
	margin: 30px auto;
	padding: 0px;
	border-spacing:0px;
	
}
.table1 td{
	padding:3px 2px;
	margin:0px;
}
body{
	padding:20px 0;
}
.detailScript{
	width:980px;margin:auto;
}
.message{
height:200px;width:980px;margin:auto;
overflow:scroll; 
}